.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 19px 39px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
.cat1{
    background-color: orange;
}
.cat3{
    background-color: #FF136F;
}
.cat4{
    background-color: blue;
}
.cat1,.cat3,.cat4{
    padding: 10px 30px;
    border-radius: 15px;
}
.categories h1{
    color: white;

}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
.na{
    margin-top: 10px;
}
footer{
    text-align: center;
    color: gray;
    margin-top: -15px;
}